/**
 main css
 */

body{
    background-color: #f9f9f9;
}
input, textarea{
    /*margin-left: 3em;
    width: 40%;*/
    margin-top: -35px;
    margin-left: 8.5em;
    width: 50% !important;
}
fieldset {
    border: solid 2px gray !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    /*background-color: #f9f9f9;*/
}

legend {
    width: auto !important;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
#div-style{
    margin-left: 50px;
    padding: 20px;
}
#global{
    padding: 20px;
}
.buttun-style{
    margin: 30px;
    float: right;
    width: 30% !important;
}
select{
    width: 50% !important;
    margin-left: 60px;
}
.success-msg{
    color: green;
}

.image-style{
    height: 200px !important;
}
.page-header{
    padding-top: 10px;
}
.p-margin{
    margin-bottom: 0px;
}
.span-color{
    color: white;
}
/**

 */
.content-wrap {
    padding: 15px
}

.has-footer .content-wrap{
    padding-bottom: 65px;
}

@media (min-width: 768px) {
    .wrapper:after {
        visibility:hidden !important
    }
}

.wrapper.side-nav-shown:after {
    opacity: 1;
    visibility: visible
}

@media (min-width: 768px) {
    .wrapper.nav-top {
        padding-top:100px
    }
}

.wrapper.no-header {
    padding-top: 0
}

.wrapper.no-footer {
    padding-bottom: 0
}

@media (max-width: 767px) {
    .wrapper.hide-footer-xs {
        padding-bottom:0
    }
}

.main-container {
    position: relative;
    transition: left 0.2s, right 0.2s;
    -webkit-transition: left 0.2s, right 0.2s
}

@media (min-width: 768px) {
    .main-container {
        margin-left:230px;
        left: 0 !important
    }
}

@media (max-width: 767px) {
    .main-container {
        left:0
    }
}

.main-container.no-transition {
    transition: none;
    -webkit-transition: none
}

@media (min-width: 768px) {
    .side-nav-sm .main-container {
        margin-left:50px
    }
}

/*******************************************************************************
        ## LEFT SIDEBAR
*******************************************************************************/
.side-navigation-wrap {
    position: absolute;
    top: 50px;
    width: 230px;
    height: 100%;
    padding-bottom: 50px;
    z-index: 11;
    transition: left 0.2s;
    -webkit-transition: left 0.2s;
}
.side-navigation-wrap.sidebar-fixed {
    position: fixed
}
.side-nav-sm:not(.sidenav-active) .slimScrollDiv,.side-nav-sm:not(.sidenav-active) .sidenav-inner {
    overflow: visible !important
}

.side-navigation-wrap {
    background-color: #363b5b;
}
.header-top .navbar-header {
    background-color: #363A5C;
    width: 230px;
    height: 60px;
    margin: -16px;
}