<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header.html ::headerFile">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="dashboardHeader.html :: dashboardHeaderBar"></div>
<div class="main-container">    <!-- START: Main Container -->

    <div class="page-header">
        <div class="page-header">
            <h3>Seller Dashboard <small>Welcome back <span class="text-primary" th:text="${seller.firstName}">Maria Fällström</span></small></h3>
            <ol class="breadcrumb">
                <li><a href="index.php">Home</a></li>
            </ol>
        </div>
        <div id="global" class="container">
            <table id="link-list" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
</div>


</body>
</html>