<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Online</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="css/shop-detail.css" rel="stylesheet">

</head>

<body>

<div th:replace="fragments/shop_header :: header">...</div>
<br />
<br />
<br />
<div class="container">
    <div class="card mt-3">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6 p-3">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img class="img-fluid" width="500px" height="500px" th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(product.getData())}" alt="" /></div>
                    </div>
                </div>
                <div class="details col-md-6 p-3">
                    <h3 class="product-title text-success" th:text="${product.name}"></h3>
                    <div>
                        <span th:text="${product.seller.firstName}"></span>
                        <div sec:authorize="hasAuthority('BUYER')">
                            <button th:if="${product.seller.followingByCurrentUser} == true" th:id="${product.seller.id}" class="like btn btn-danger btn-unfollow" type="button"><span class="fa fa-heart"></span></button>
                            <button th:if="${product.seller.followingByCurrentUser} == false" th:id="${product.seller.id}" class="like btn btn-dark btn-follow" type="button"><span class="fa fa-heart"></span></button>
                        </div>

                    </div>
                    <div class="rating mt-2">
                        <div class="stars">
                            <span class="fa fa-star checked text-warning"></span>
                            <span class="fa fa-star checked text-warning"></span>
                            <span class="fa fa-star checked text-warning"></span>
                            <span class="fa fa-star text-warning"></span>
                            <span class="fa fa-star text-warning"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="font-weight-light text-secondary" th:text="${product.category.categoryName}"></p>
                    <p class="product-description" th:text="${product.description}"></p>
                    <h4 class="price">Current price: <span class="text-danger" th:text="${'$' + product.price}">$</span></h4>

                    <div class="action" sec:authorize="hasAuthority('BUYER')">
                        <button class="add-to-cart btn btn-success btn-follow" type="button">add to cart</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/buyer.js}"></script>

</body>
</html>