<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Online</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="css/shop-detail.css" rel="stylesheet">
    <link href="css/shop.css" rel="stylesheet">
</head>

<body>

<div th:replace="fragments/shop_header :: header">...</div>
<br />
<br />
<br />
<div class="container">
    <div class="card mt-3">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6 p-3">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img class="img-fluid" width="500px" height="500px" th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(product.getData())}" alt="" /></div>
                    </div>
                </div>
                <div class="details col-md-6 p-3">
                    <h3 class="product-title text-success" th:text="${product.name}"></h3>
                    <div>
                        <span th:text="${product.seller.firstName}"></span>
                        <div sec:authorize="hasAuthority('BUYER')">
<!--                            <button th:if="${product.seller.followingByCurrentUser} == true" th:id="${product.seller.id}" class="like btn btn-danger btn-unfollow" type="button"></button>-->
<!--                            <button th:if="${product.seller.followingByCurrentUser} == false" th:id="${product.seller.id}" class="like btn btn-dark btn-follow" type="button"></button>-->
                            <td class="text-right d-none d-md-block">
                                <a th:if="${product.seller.followingByCurrentUser} == true" class="btn btn-sm btn-danger btn-unfollow" href="#" th:id="${product.seller.id}"> Unfollow</span></a>
                                <a th:if="${product.seller.followingByCurrentUser} == false" class="btn btn-sm btn-dark btn-follow" href="#" th:id="${product.seller.id}"> Follow</span></a>
                                <!-- <span class="fa fa-heart">-->
                            </td>
                        </div>

                    </div>
                    <div class="rating mt-2">
                        <div class="stars">
                            <span class="fa fa-star checked text-warning"></span>
                            <span class="fa fa-star checked text-warning"></span>
                            <span class="fa fa-star checked text-warning"></span>
                            <span class="fa fa-star text-warning"></span>
                            <span class="fa fa-star text-warning"></span>
                        </div>
                        <small class="review-no text-muted">99 reviews</small>
                    </div>
                    <p class="font-weight-light text-info" th:text="${'Category: ' + product.category.categoryName}"></p>
                    <div>
                        <h6>Description: </h6>
                        <p class="product-description p-3 bg-light" th:text="${product.description}"></p>
                    </div>

                    <h4 class="price text-dark">Price: <span class="text-danger" th:text="${'$' + product.price}">$</span></h4>

                    <div class="action" sec:authorize="hasAuthority('BUYER')">
                        <button class="add-to-cart btn btn-success btn-follow" type="button">add to cart</button>
                        <button th:if="${product.currentUserReview} == null" type="button" class="btn btn-danger" data-toggle="modal" data-target="#form"> Review Product </button>
                        <div class="mt-3" th:if="${product.currentUserReview} != null">
                            <h6 class="text-secondary">Your review: <small class="text-muted text-" th:if="${product.currentUserReview.approve} == false"> (waiting approve)</small> </h6>
                            <p class="bg-light text-muted p-3" th:text="${product.currentUserReview.message}"></p>
                        </div>

                        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>
                                    <div class="card-body text-center">
                                        <img src="https://i.imgur.com/d2dKtI7.png" height="100" width="100">
                                        <div class="comment-box text-center">
                                            <h4>Add a comment</h4>
                                            <div class="rating">
                                                <div class="rating mt-2">
                                                    <div class="stars">
                                                        <span class="fa fa-star checked text-warning"></span>
                                                        <span class="fa fa-star checked text-warning"></span>
                                                        <span class="fa fa-star checked text-warning"></span>
                                                        <span class="fa fa-star text-warning"></span>
                                                        <span class="fa fa-star text-warning"></span>
                                                    </div>
                                                </div>
                                                <div class="comment-area"> <textarea id="message-review" class="form-control" placeholder="what is your view?" rows="4"></textarea> </div>
                                                <div class="text-center mt-4">
                                                    <button th:id="${product.id}" class="btn btn-success send px-5">Send message <i class="fa fa-long-arrow-right ml-1"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script type="text/javascript" th:src="@{/js/buyer.js}"></script>

</body>
</html>