<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header.html ::headerFile">
    <title>Seller Dashboard</title>

    <link rel="stylesheet"  th:href="@{/css/bootstrap.css}">-
    <!--<script type="text/javascript" th:src="@{/assets/js/modernizr.js}"></script>
    <link rel="stylesheet"  th:href="@{/assets/morror/morris.css}" />

    <link rel="stylesheet"  th:href="@{/assets/css/main.css}">
    <link rel="stylesheet"  th:href="@{/assets/css/style-default.css}">-->

</head>
<body>
<div class="wrapper has-footer">
    <div th:insert="dashboardHeader.html ::dashboardHeaderBar">

    </div>
    <div class="main-container">    <!-- START: Main Container -->

        <div class="page-header">
            <h3>Seller Dashboard <small>Welcome back <span class="text-primary" th:text="${seller.firstName}">Maria Fällström</span></small></h3>>
            <ol class="breadcrumb">
                <li><a th:href="@{/seller/sellerDashboard}">Home</a></li>>
            </ol>
        </div>

    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

 <!--<script  th:src="@{/assets/js/jquery-2.2.4.min.js}"></script>
 <script  th:src="@{/assets/js/jquery-ui.min.js}"></script>
 <script  th:src="@{/assets/js/bootstrap.min.js}"></script>
 <script  th:src="@{/assets/js/plugins.js}"></script>

 <script  th:src="@{/assets/morror/raphael-min.js}"></script>
 <script type="text/javascript" th:src="@{/assets/morror/morris.min.js}"></script>


 <script type="text/javascript" th:src="@{/assets/js/app.base.js}"></script>
 <script type="text/javascript" th:src="@{/assets/js/page-dashboardv2.js}"></script>-->
</body>
</html>