<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/admin_header :: header">...</div>
<br />
<br />
<br />
<div class="container">
    <h3> SELLERS PAGE </h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">ZipCode</th>
            <th scope="col">Active</th>
            <th scope="col">Approve</th>



        </tr>
        </thead>
        <tbody>

        <tr th:each="user, iter: ${sellers}">
            <th scope="row" th:text="${iter.index + 1}" >1</th>
            <!--/*@thymesVar id="firstName" type=""*/-->
            <td th:text="${user.firstName}">Mark</td>
            <td th:text="${user.lastName}">Otto</td>
            <td th:text="${user.email}" >Otto@gmail.com</td>
            <td th:text="${user.phone}">164-0987-124</td>
            <td th:text="${user.address.street}">City</td>
            <td th:text="${user.address.city}">city</td>
            <td th:text="${user.address.state}">state</td>
            <td th:text="${user.address.zipCode}">ZipCode</td>

            <td th:if="${user.active}==1">
                <a th:href="@{/admin/enableUser/{userId}(userId=${user.id})}"   class="btn btn-success">Active</a>
            </td>
            <td th:unless="${user.active}">
                <a th:href="@{/admin/enableUser/{userId}(userId=${user.id})}"   class="btn btn-danger">Inactive</a>
            </td>
            <td th:if="${user.approved}==false">
                <a th:href="@{/admin/approveUser/{userId}(userId=${user.id})}"   class="btn btn-success">Approve</a>
            </td>
            <td th:if="${user.approved}==true">
                <a th:href="@{/admin/approveUser/{userId}(userId=${user.id})}"   class="btn btn-danger">Disapprove</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>