<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring boot eamil teplate with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Hello ' + name}"></p>
<p>
    Thank you for shopping with us!<br />
    We've received your order <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span><br />
    We will contact you as soon as your package is shipped.
</p>
<p>
    You can view your purchase information below. <br />
    <a href="https://dc8gwjuur0w0x.cloudfront.net/lists/avatars/000/000/047/original_o-PINT-GLASS-BEER-facebook.jpg">
        <span th:text="${'Order #' + orderId}"></span>
    </a>.
</p>

<p>
    We hope to see you again soon!<br />
    Regards, <br />
    <em th:text="${sign}"></em>
</p>
</body>
</html>